<!DOCTYPE html>
<html lang="en">
{% block content %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p><h4>Здравствуйте! Новые статьи в твоём любимом разделе {{ tag }}</h4></p>
    {%   for post in posts %}
    <a href="http://127.0.0.1:8000/posts/{{ post.id }}">{{ post.title }}</a><br>
    {%   endfor  %}<br>
    <br>

    <h7> С уважением, Ivan Shinkarev</h7>
    {% endblock content %}
</body>
</html>